@import "tailwindcss";

:root {
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;

  font: 16px/1.5 var(--sans);
  color-scheme: dark;
  color: #fff;
  background: #000;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100svh;
  width: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  min-width: 0;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}
